<div class="question" data-id="{{id}}" data-type="{{type}}">
  <label>{{label}}</label>

  {{#text}}
    <input type="text" name="{{id}}" placeholder="{{placeholder}}" />
  {{/text}}

  {{#spinner}}
    <select name="{{id}}">
      {{#options}}<option value="{{.}}">{{.}}</option>{{/options}}
    </select>
  {{/spinner}}

  {{#single_choice}}
    {{#options}}
      <label>
        <input type="radio" name="{{../id}}" value="{{codeItem}}" data-has-sub="{{#requiresSubQst}}true{{/requiresSubQst}}">
        {{label}}
      </label>
      {{#requiresSubQst}}
        <div class="sub-question" style="display:none;">
          {{> partials/subQuestion .}}
        </div>
      {{/requiresSubQst}}
    {{/options}}
  {{/single_choice}}

  {{#multiple_choice}}
    {{#options}}
      <label>
        <input type="checkbox" name="{{../id}}" value="{{codeItem}}" data-has-sub="{{#requiresSubQst}}true{{/requiresSubQst}}">
        {{label}}
      </label>
      {{#requiresSubQst}}
        <div class="sub-question" style="display:none;">
          {{> partials/subQuestion .}}
        </div>
      {{/requiresSubQst}}
    {{/options}}
  {{/multiple_choice}}

  {{#subQuestions}}
    {{> partials/subQuestion .}}
  {{/subQuestions}}
</div>
